@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../public/style/fonts.css";



body {
    font-family: Ubuntu;
    font-size: 16px;
    background: #EEF5FF;
}

@layer utilities {

}
